What should go in Allow?

Hi quick question: When filling in the "Allow" field of a response, are all 4 methods supposed to be listed, or just one? Or nothing at all?

My best guess is it's supposed to end up looking like
```
Allow: GET, HEAD, OPTIONS, TRACE
```

Is that correct? Thank you!

[RFC 7231, Section 7.4.1](https://tools.ietf.org/html/rfc7231#section-7.4.1) will answer your question. The server knows (usually based on some configurations) what methods are allowed on which resources. For the first assignment, all the supported methods are allowed on all the resources, but in the future assignments will have it configuration to allow some unsafe methods on selected resources (individual files or directories).